<section class="s2">
    <div class="main-content">

        <div id="auth_div" class="text-center">

            <h1 class="h3 mb-3 font-weight-normal">{{ message }}</h1>

            <div style="margin: 25px"></div>

            <div class="text-lg-center">
                <p class="mt-5 mb-3 text-body">
                    <hr>
                    You will be redirected to the homepage in 5 seconds...
                    <br>
                    Click <a href="{{ url_for('main.index') }}"><strong>here</strong></a> in case you are not redirected automatically
                    <hr>
                </p>
            </div>

        </div>
    </div>
</section>