{% extends "base.html" %}

{% block body %}

    <div class="user-profile container-fluid" style="margin-top: 10px">
        <!-- Profile header -->
        <div id="profile_header" class="text-md-center page-header">
            <h2>User Profile</h2>
            <hr>
        </div>

        <!-- Profile details -->
        <div id="profile_panel" class="col-sm-6" >
            <div id="profile_card" class="card">
                <div class="card-header">
                    <strong>Account Details</strong><br>
                    <a class="" style="color: #4d79ff" href="{{ url_for('main.edit_user', email=user.email) }}">Edit Account</a>
                </div>
                <div class="card-img">
                    <img src="{{ user.avatar(256) }}" class="card-img profile_image" alt="...">
                </div>
                <div class="card-body">
                    <div style="padding-bottom: 10px"><strong>Email:</strong> {{user.email}}</div>
                    <div><strong>About Me:</strong> {{user.about_me}}</div>
                </div>
              <div class="card-footer text-muted text-right"><strong>Last Login:</strong> {{user.last_login_at}}</div>
            </div>
        </div>

        <div>
            <div style="margin: 25px"></div>
        </div>

        <!-- Profile blog details -->
        <div id="profile_panel" class="col-sm-6">
                <div id="profile_card" class="card">
                    <div class="card-header">
                        <a style="color: #002db3" href="{{ url_for('blog.posts', page=1) }}"><strong>Posts</strong></a><br>
                        <a style="color: #4d79ff" href="{{ url_for('blog.new_post', post_uuid=post_uuid) }}">New Post</a>
                    </div>
                    <div class="card-img">
                        <img src="{{ url_for('static', filename='images/profile_images/blog_logo.jpeg') }}" class="card-img profile_image" alt="...">
                    </div>
                  <div class="card-footer text-muted text-right"><strong>Post Count: </strong>{{ post_count }}</div>
                </div>
        </div>

        <div style="padding-bottom: 20px"></div>
    </div>

{% endblock %}
