{% extends 'admin/base_admin.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content_title %}Users{% endblock %}

{% block body %}
    {{ super() }}
{% endblock %}

{% block content %}

    <div class="users">
        <div class="panel panel-info"
             style="width: 900px; position: center; margin-left: auto; margin-right: auto">
            <div class="panel-heading"><strong>Users</strong></div>

            <div class="panel-body" style="width: 900px; position: center; margin-left: auto; margin-right: auto">
              <table class="table-hover table-responsive">
                  <thead>
                    <tr>
                        <th style="width: 5%; text-align: center; font-size: medium"></th>
                        <th style="width: 5%; text-align: center; font-size: medium">Username</th>
                        <th style="width: 25%; text-align: center; font-size: medium">Email</th>
                        <th style="width: 15%; text-align: center; font-size: medium">Name</th>
                        <th style="width: 15%; text-align: center; font-size: medium">Surname</th>
                        <th style="width: 15%; text-align: center; font-size: medium">Title</th>
                        <th style="width: 20%; text-align: center; font-size: medium">Manager</th>
                        <th style="width: 20%; text-align: center; font-size: medium">Admin</th>
                    <tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td style="text-align: center">
                            <a href="{{ url_for('admin.user_detail', id=user.id) }}">
                                <input class="btn btn-primary"
                                       style="margin: 5px; alignment: center; font-size: x-small"
                                       type="button" role="button"
                                       value="Edit user">
                            </a>
                        </td>
                        <td style="text-align: center; font-size: small">{{ user.username }}</td>
                        <td style="text-align: center; font-size: small">{{ user.email }}</td>
                        <td style="text-align: center; font-size: small">{{ user.given_name }}</td>
                        <td style="text-align: center; font-size: small">{{ user.surname }}</td>
                        <td style="text-align: center; font-size: small">{{ user.title }}</td>
                        <td style="text-align: center; font-size: small">{{ user.manager }}</td>
                        <td style="text-align: center; font-size: small">
                            <label>
                            {% if user.admin %}
                                <input type="checkbox" name="Admin" checked="checked" disabled="disabled" >
                            {% else %}
                                <input type="checkbox" name="Admin" disabled="disabled" >
                            {% endif %}
                            </label>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                {#<a href="{{ url_for('user_detail', username=person.username) }}">{{ person.username }}</a>#}
              </table>
            </div>
        </div>
    </div>

{% endblock %}