{%- extends "base.html" %}

{% block body %}
<section class="s2">
    <div class="main-content">
        <div class="error-container">
            <img src="{{ url_for('static', filename='images/error/monkey.jpg') }}" alt="..." >
            <hr>
            <p>
                I guess an unexpected error was made and the nerd with glasses will be informed.
                Please click <strong><a href="{{ previous }}">here</a></strong> to go back.
            </p>
            <hr>
        </div>
    </div>
</section>
{% endblock %}