{% extends "base.html" %}

{% block app_content %}

    {{ super() }}

    <div id="auth_div" class="text-center">

        <form class="text-lg-center form-group-lg" action="" method="post" >

            {{ form.hidden_tag() }}

            <img class="mb-4" src={{ url_for('static', filename='favicon/favicon.ico') }} alt="..." width="50" height="50">
            <h1 class="h3 mb-3 font-weight-normal">Registration Form</h1>

            <div style="margin: 25px"></div>

            <div class="text-lg-left">
                <div id="auth_form_divs" class="row-fluid">{{ form.email.label() }}</div>
                {{ form.email(id="register_email", placeholder="Email", autofocus=True, class="form-control") }}
                {% for error in form.email.errors %}
                    <span style="color: #ff4d4d;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div style="margin: 25px"></div>

            <div class="text-lg-left">
                <div id="auth_form_divs" class="row-fluid">{{ form.password.label() }}</div>
                {{ form.password(id="register_password", placeholder="Password", autofocus=False, class="form-control") }}
                {% for error in form.password.errors %}
                    <span style="color: #ff4d4d;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div style="margin: 25px"></div>


            <div class="text-lg-left">
                <div id="auth_form_divs" class="row-fluid">{{ form.password2.label() }}</div>
                {{ form.password2(id="register_password2", placeholder="Repeat Password", autofocus=False, class="form-control") }}
                {% for error in form.password2.errors %}
                    <span style="color: #ff4d4d;">[{{ error }}]</span>
                {% endfor %}
            </div>

            <br><br>

            {{ form.submit(id="register_submit", class="btn btn-lg btn-dark btn-block mb-5") }}
            <p class="mt-5 mb-3 text-body">&copy; 2021, Daniel Ferreira LLC</p>
        </form>
    </div>

{% endblock %}