{% extends "base.html" %}

{% block body %}

    <section class="s2">
        <div class="main-content">

        <div id="auth_div" class="text-center">

            <form class="text-lg-center form-group-lg" action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">

                {{ change_password_form.hidden_tag() }}

                <img class="mb-4" src={{ url_for('static', filename='favicon/favicon.ico') }} alt="..." width="50" height="50">
                <h1 class="h3 mb-3 font-weight-normal">{{ _fsdomain('Change password') }}</h1>

                <div class="text-lg-left">
                    <div id="auth_form_divs" class="row-fluid">{{ change_password_form.password.label() }}</div>
                    {{ change_password_form.password(id="current_password", placeholder="Current Password", autofocus=True, class="form-control") }}
                    {% for error in change_password_form.password.errors %}
                        <span style="color: #ff4d4d;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div style="margin: 25px"></div>

                        <div class="text-lg-left">
                    <div id="auth_form_divs" class="row-fluid">{{ change_password_form.new_password.label() }}</div>
                    {{ change_password_form.new_password(id="new_password", placeholder="New Password", autofocus=False, class="form-control") }}
                    {% for error in change_password_form.new_password.errors %}
                        <span style="color: #ff4d4d;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div style="margin: 25px"></div>

                        <div class="text-lg-left">
                    <div id="auth_form_divs" class="row-fluid">{{ change_password_form.new_password_confirm.label() }}</div>
                    {{ change_password_form.new_password_confirm(id="new_password_confirm", placeholder="New Password Confirm", autofocus=False, class="form-control") }}
                    {% for error in change_password_form.new_password_confirm.errors %}
                        <span style="color: #ff4d4d;">[{{ error }}]</span>
                    {% endfor %}
                </div>

                <div style="margin: 25px"></div>

                <button class="btn btn-lg btn-dark btn-block mb-5" type="submit">{{ _fsdomain('Change password') }}</button>

                <p class="mt-5 mb-3 text-body">&copy; 2021, Daniel Ferreira LLC</p>

            </form>

        </div>

        </div>
    </section>

{% endblock %}