{% extends "base.html" %}

{% block body %}
    <section class="s2">
        <div class="main-content">
            <div id="auth_div" class="text-center">

                <form class="text-lg-center form-group-lg" action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">

                    {{ forgot_password_form.hidden_tag() }}

                    <img class="mb-4" src={{ url_for('static', filename='favicon/favicon.ico') }} alt="..." width="50" height="50">
                    <h1 class="h3 mb-3 font-weight-normal">Recover Password</h1>

                    <div class="text-lg-left">
                        <div id="auth_form_divs" class="row-fluid">{{ forgot_password_form.email.label() }}</div>
                        {{ forgot_password_form.email(id="recover_email", placeholder="Email", autofocus=True, class="form-control") }}
                        {% for error in forgot_password_form.email.errors %}
                            <span style="color: #ff4d4d;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div style="margin: 25px"></div>

                    <button class="btn btn-lg btn-dark btn-block mb-5" type="submit">Recover Password</button>

                    <div class="nav justify-content-center">
                        {% include "security/_menu.html" %}
                    </div>

                    <p class="mt-5 mb-3 text-body">&copy; 2021, Daniel Ferreira LLC</p>

                </form>

            </div>
        </div>
    </section>

{% endblock %}
