{% extends "base.html" %}

{% block body %}
    <section class="s2">
        <div class="main-content">

            <div id="auth_div" class="text-center">

                <form class="text-lg-center form-group-lg" action="{{ url_for_security('reset_password', token=reset_password_token) }}" method="POST" name="register_user_form">

                    {{ reset_password_form.hidden_tag() }}

                    <img class="mb-4" src={{ url_for('static', filename='favicon/favicon.ico') }} alt="..." width="50" height="50">
                    <h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>

                    <div style="margin: 25px"></div>

                    <div class="text-lg-left">
                        <div id="auth_form_divs" class="row-fluid">{{ reset_password_form.password.label() }}</div>
                        {{ reset_password_form.password(id="register_password", placeholder="Password", autofocus=True, class="form-control") }}
                        {% for error in reset_password_form.password.errors %}
                            <span style="color: #ff4d4d;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <div style="margin: 25px"></div>


                    <div class="text-lg-left">
                        <div id="auth_form_divs" class="row-fluid">{{ reset_password_form.password_confirm.label() }}</div>
                        {{ reset_password_form.password_confirm(id="register_password2", placeholder="Repeat Password", autofocus=False, class="form-control") }}
                        {% for error in reset_password_form.password_confirm.errors %}
                            <span style="color: #ff4d4d;">[{{ error }}]</span>
                        {% endfor %}
                    </div>

                    <br><br>

                    {{ reset_password_form.submit(id="reset_submit", class="btn btn-lg btn-dark btn-block mb-5") }}

                    <div class="nav justify-content-center">
                        {% include "security/_menu.html" %}
                    </div>

                    <p class="mt-5 mb-3 text-body">&copy; 2021, Daniel Ferreira LLC</p>

                </form>

            </div>
        </div>
    </section>

{% endblock body %}

