{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    {% if form %}

        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ wtf.quick_form(form) }}
        <br>

    {% else %}

    <div class="user-profile">
      <div class="page-header">
        <h3>Request number: {{req.req_number}}</h3>
      </div>

          <div class="row">
            <div class="col-sm-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6"><strong>Requester Information</strong></div>
                        </div>
                    </div>
                <div class="panel-body"><strong>Created in:</strong> {{req.timestamp}}</div>
                <div class="panel-body"><strong>Initiator:</strong> {{req.initiator_dn}}</div>
                <div class="panel-body"><strong>Initiator Email:</strong> {{req.initiator_email}}</div>
                <div class="panel-body"><strong>Customer EID:</strong> {{req.customer_dn}}</div>
                <div class="panel-body"><strong>Customer Email:</strong> {{req.customer_email}}</div>
                <div class="panel-body"><strong>Customer MARSHA:</strong> {{req.customer_ou}}</div>
                </div>

            <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6"><strong>System Access Request Information</strong></div>
                            <div class="col-md-6 text-right"><strong>Request ID:</strong> {{req.id}}</div>
                        </div>
                    </div>

                {#Check if Materials Control was requested:#}
                {% if req.mc_role is not none and req.mc_role is defined %}
                    <div class="panel-body"><strong>Materials Control:</strong> {{req.mc_role}}</div>
{#                {% else %}#}
{#                    <div class="panel-body"><strong>Materials Control:</strong> No role selected</div>#}
                {% endif %}

                {#Check if Opera PMS was requested:#}
                {% if req.pms_role is not none and req.pms_role is defined %}
                    <div class="panel-body"><strong>OPERA PMS:</strong> {{req.pms_role}}</div>

                    {#Check if Cashier was requested:#}
                    {% if req.pms_cashier == 0 %}
                        <div class="panel-body">
                            <label>
                                <input type="checkbox" class="form-inline" disabled="disabled"/>
                                <span>OPERA PMS Cashier</span>
                            </label>
                        </div>
                    {% else %}
                        <div class="panel-body">
                            <label>
                                <input type="checkbox" class="form-inline" checked="checked" disabled="disabled"/>
                                <span>OPERA PMS Cashier</span>
                            </label>
                        </div>
                    {% endif %}

                    {#Check if Opera SC was requested:#}
                    {% if req.pms_sc == 0 %}
                        <div class="panel-body">
                            <label>
                                <input type="checkbox" class="form-inline" disabled="disabled"/>
                                <span>OPERA PMS S&C</span>
                            </label>
                        </div>
                    {% else %}
                        <div class="panel-body">
                            <label>
                                <input type="checkbox" class="form-inline" checked="checked" disabled="disabled"/>
                                <span>OPERA PMS S&C</span>
                            </label>
                        </div>
                    {% endif %}
{#                {% else %}#}
{#                    <div class="panel-body"><strong>OPERA PMS:</strong> No role selected</div>#}
                {% endif %}

                {#Check if Simphony was requested:#}
                {% if req.pos_role is not none and req.pos_role is defined %}
                    <div class="panel-body"><strong>Simphony:</strong> {{req.pos_role}}</div>
{#                {% else %}#}
{#                    <div class="panel-body"><strong>Simphony:</strong> No role selected</div>#}
                {% endif %}

                {#Check if any AD Groups were requested:#}
                {% if req.shares_groups is not none and req.shares_groups is defined %}
                    {% set ad_groups = req.shares_role.split(',') %}
                    <div class="panel-body">
                        <div class="row" >
                            <div class="col-md-6" style="margin-bottom: 20px"><strong>Shares:</strong></div>
                            <div class="col-md-12">
                                <ul class="list-group pre-scrollable" style="max-height:124px; margin-bottom:0">
                                    {% for group in ad_groups %}
                                        <li class="list-group-item" style="padding: inherit; margin: fill">{{ group }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
{#                {% else %}#}
{#                    <div class="panel-body"><strong>Shares:</strong> No shares selected</div>#}
                {% endif %}

                {#Check if Emails were requested:#}
                {% if req.email_type is not none and req.email_type is defined %}
                    <div class="panel-body"><strong>Email Type:</strong> {{req.email_type}}</div>
                    <div class="panel-body"><strong>Email License:</strong> {{req.email_license}}</div>
{#                {% else %}#}
{#                    <div class="panel-body"><strong>Email:</strong> No Email was requested.</div>#}
                {% endif %}

                {#Check if Email Add-ons were requested:#}
                {% if req.email_addon is not none and req.email_addon is defined %}
                    <div class="panel-body"><strong>Email Add-on:</strong> {{req.email_addon}}</div>
{#                {% else %}#}
{#                    <div class="panel-body"><strong>Email Add-on:</strong> No Email Add-on was requested.</div>#}
                {% endif %}

                {#Check if MDM was requested:#}
                {% if req.mdm_os is not none and req.mdm_os is defined %}
                    <div class="panel-body"><strong>MDM Operating System:</strong> {{req.mdm_os}}</div>
                    <div class="panel-body"><strong>MDM Device Type:</strong> {{req.mdm_type}}</div>
{#                {% else %}#}
{#                    <div class="panel-body"><strong>MDM Request:</strong> No MDM request was made.</div>#}
                {% endif %}

                {#Check if Other requests were made:#}
                {% if req.other_role is not none and req.other_role is defined %}
                    <div class="panel-body"><strong>Other Roles/Requests:</strong> {{req.other_role}}</div>
{#                {% else %}#}
{#                    <div class="panel-body"><strong>Other Roles/Requests:</strong> No other requests were made</div>#}
                {% endif %}

                {#FOOTER IS PLACED HERE#}
                <div class="panel-footer text-right">
                    {% set current_status = req.approval_status %}
                    {% if current_status < 4 %}
                        <strong>Approval Status:</strong> Pending
                    {% else %}
                        <strong>Approval Status:</strong> Completed
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {#APPROVAL PROCESS HERE#}
    <div class="user-profile">
      <div class="page-header">
        <h3>Request Approval Process</h3>
      </div>

      <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading"><strong>Approvals</strong></div>
                {#HR Approval Pending#}
                {% if req.approver_hr == 0 and req.approval_status == 0 %}
                    <div class="row">
                        <div class="panel-body">
                            <div class="col-sm-5"><strong>HR Approval Pending!</strong></div>
                            <div class="col-sm-3 text-right"><a href="{{ url_for('main.approve_req', req=req.id, department='HR') }}">HR Approval</a></div>
                            <div class="col-sm-3 text-right"><a href="{{ url_for('main.reject_req', req=req.id, department='HR') }}">HR Rejection</a></div>
                        </div>
                    </div>
                {% else %}
                    <div class="panel-body"><strong>HR Approval:</strong> {{req.approver_hr_str}}</div>
                {% endif %}

                {#Finance Approval Pending#}
                {% if req.approver_acc == 0 and req.approval_status == 1 %}
                    <div class="row">
                        <div class="panel-body">
                            <div class="col-sm-5"><strong>Finance Approval Pending!</strong></div>
                            <div class="col-sm-3 text-right"><a href="{{ url_for('main.approve_req', req=req.id, department='FIN') }}">FIN Approval</a></div>
                            <div class="col-md-3 text-right"><a href="{{ url_for('main.reject_req', req=req.id, department='FIN') }}">FIN Rejection</a></div>
                        </div>
                    </div>
                {% elif req.approver_acc == 0 %}
                    <div class="panel-body"><strong>Finance Approval:</strong> Pending Finance Approval!</div>
                {% else %}
                    <div class="panel-body"><strong>Finance Approval:</strong> {{req.approver_acc_str}}</div>
                {% endif %}

                {#GM Approval Pending#}
                {% if req.approver_gm == 0 and req.approval_status == 2 %}
                    <div class="row">
                        <div class="panel-body">
                            <div class="col-sm-5"><strong>GM Approval Pending!</strong></div>
                            <div class="col-sm-3 text-right"><a href="{{ url_for('main.approve_req', req=req.id, department='GM') }}">GM Approval</a></div>
                            <div class="col-sm-3 text-right"><a href="{{ url_for('main.reject_req', req=req.id, department='GM') }}">GM Rejection</a></div>
                        </div>
                    </div>
                {% elif req.approver_gm == 0 %}
                    <div class="panel-body"><strong>GM Approval:</strong> Pending GM Approval!</div>
                {% else %}
                    <div class="panel-body"><strong>GM Approval:</strong> {{req.approver_gm_str}}</div>
                {% endif %}

                {#IT Approval Pending#}
                {% if req.approver_it == 0 and req.approval_status == 3 %}
                    <div class="row">
                        <div class="panel-body">
                            <div class="col-sm-5"><strong>IT Approval Pending!</strong></div>
                            <div class="col-sm-3 text-right"><a href="{{ url_for('main.approve_req', req=req.id, department='IT') }}">IT Approval</a></div>
                            <div class="col-sm-3 text-right"><a href="{{ url_for('main.reject_req', req=req.id, department='IT') }}">IT Rejection</a></div>
                        </div>
                    </div>
                {% elif req.approver_it == 0 %}
                    <div class="panel-body"><strong>IT Approval:</strong> Pending IT Approval!</div>
                {% else %}
                    <div class="panel-body"><strong>IT Approval:</strong> {{req.approver_it_str}}</div>
                {% endif %}
            </div>
        </div>
      </div>
    </div>

    {% endif %}

    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}





