{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<div class="simphony_requests">
        <div class="panel panel-info"
             style="width: fit-content; position: center; margin-left: auto; margin-right: auto">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6"><strong>Simphony Request - {{ simphony_req }}</strong></div>
                    <div class="col-md-6 text-right">Current Items loaded: <strong>{{ req_items|length }}</strong></div>
                </div>
            </div>
            <div class="panel-body" style="width: fit-content; position: center; margin-left: auto; margin-right: auto">
                <table class="table-hover table-responsive">
                  <thead>
                    <tr>
                        <th style="width: 115px; text-align: center; font-size: medium"></th>
                        <th style="width: 115px; text-align: center; font-size: medium">RVC</th>
                        <th style="width: 115px; text-align: center; font-size: medium">Request Type</th>
                        <th style="width: 115px; text-align: center; font-size: medium">Item Name</th>
                        <th style="width: 115px; text-align: center; font-size: medium">Major Group</th>
                        <th style="width: 115px; text-align: center; font-size: medium">SLU</th>
                        <th style="width: 115px; text-align: center; font-size: medium">Remarks</th>
                        <th style="width: 115px; text-align: center; font-size: medium">Selling Price</th>
                        <th style="width: 115px; text-align: center; font-size: medium">Cost Price</th>
                        <th style="width: 115px; text-align: center; font-size: medium">Cost Percent</th>
                    <tr>
                </thead>
                <tbody>
                    {% if req_items is defined %}
                        {% for req_item in req_items %}
                        <tr>
                            <td style="text-align: center">
                                <a href="{{ url_for('main.simphony_item_detail', simphony_req=simphony_req, simphony_item_id=req_item.id) }}">
                                    <input class="btn btn-primary"
                                           style="margin: 5px; alignment: center; font-size: x-small"
                                           type="button" role="button"
                                           value="Edit Item">
                                </a>
                            </td>
                            <td style="text-align: center; font-size: small">{{ req_item.rvc }}</td>
                            <td style="text-align: center; font-size: small">{{ req_item.type }}</td>
                            <td style="text-align: center; font-size: small">{{ req_item.item_name }}</td>
                            <td style="text-align: center; font-size: small">{{ req_item.major_group }}</td>
                            <td style="text-align: center; font-size: small">{{ req_item.slu }}</td>
                            <td style="text-align: center; font-size: small">{{ req_item.remarks }}</td>
                            <td style="text-align: center; font-size: small">{{ req_item.selling_price }}</td>
                            <td style="text-align: center; font-size: small">{{ req_item.cost_price }}</td>
                            <td style="text-align: center; font-size: small">{{ req_item.cost_percent }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                </tbody>
              </table>
        </div>
    </div>

    {% if form %}

        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        {{ wtf.quick_form(form) }}
        <br>

{#    {% else %}#}

    {#APPROVAL PROCESS HERE#}
{#    <div class="user-profile">#}
{#      <div class="page-header">#}
{#        <h3>Request Approval Process</h3>#}
{#      </div>#}
{##}
{#      <div class="row">#}
{#        <div class="col-sm-6">#}
{#            <div class="panel panel-primary">#}
{#                <div class="panel-heading"><strong>Approvals</strong></div>#}
                {#HR Approval Pending#}
{#                {% if request.approver_hr == 0 and request.approval_status == 0 %}#}
{#                    <div class="row">#}
{#                        <div class="panel-body">#}
{#                            <div class="col-md-6"><strong>HR Approval Pending!</strong></div>#}
{#                            <div class="col-md-6 text-right"><a href="{{ url_for('main.approve_req', request=request.id, department='HR') }}">HR Approval</a></div>#}
{#                        </div>#}
{#                    </div>#}
{#                {% else %}#}
{#                    <div class="panel-body"><strong>HR Approval:</strong> {{request.approver_hr_str}}</div>#}
{#                {% endif %}#}
{##}
                {#Finance Approval Pending#}
{#                {% if request.approver_acc == 0 and request.approval_status == 1 %}#}
{#                    <div class="row">#}
{#                        <div class="panel-body">#}
{#                            <div class="col-md-6"><strong>Finance Approval Pending!</strong></div>#}
{#                            <div class="col-md-6 text-right"><a href="{{ url_for('main.approve_req', request=request.id, department='FIN') }}">Finance Approval</a></div>#}
{#                        </div>#}
{#                    </div>#}
{#                {% elif request.approver_acc == 0 %}#}
{#                    <div class="panel-body"><strong>Finance Approval:</strong> Pending Finance Approval!</div>#}
{#                {% else %}#}
{#                    <div class="panel-body"><strong>Finance Approval:</strong> {{request.approver_acc_str}}</div>#}
{#                {% endif %}#}
{##}
                {#GM Approval Pending#}
{#                {% if request.approver_gm == 0 and request.approval_status == 2 %}#}
{#                    <div class="row">#}
{#                        <div class="panel-body">#}
{#                            <div class="col-md-6"><strong>GM Approval Pending!</strong></div>#}
{#                            <div class="col-md-6 text-right"><a href="{{ url_for('main.approve_req', request=request.id, department='GM') }}">GM Approval</a></div>#}
{#                        </div>#}
{#                    </div>#}
{#                {% elif request.approver_gm == 0 %}#}
{#                    <div class="panel-body"><strong>GM Approval:</strong> Pending GM Approval!</div>#}
{#                {% else %}#}
{#                    <div class="panel-body"><strong>GM Approval:</strong> {{request.approver_gm_str}}</div>#}
{#                {% endif %}#}
{##}
                {#IT Approval Pending#}
{#                {% if request.approver_it == 0 and request.approval_status == 3 %}#}
{#                    <div class="row">#}
{#                        <div class="panel-body">#}
{#                            <div class="col-md-6"><strong>IT Approval Pending!</strong></div>#}
{#                            <div class="col-md-6 text-right"><a href="{{ url_for('main.approve_req', request=request.id, department='IT') }}">IT Approval</a></div>#}
{#                        </div>#}
{#                    </div>#}
{#                {% elif request.approver_it == 0 %}#}
{#                    <div class="panel-body"><strong>IT Approval:</strong> Pending IT Approval!</div>#}
{#                {% else %}#}
{#                    <div class="panel-body"><strong>IT Approval:</strong> {{request.approver_it_str}}</div>#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#      </div>#}
{#    </div>#}

    {% endif %}

</div>

    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}
