{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="simphony_requests">
        <div class="panel panel-info"
             style="width: fit-content; position: center; margin-left: auto; margin-right: auto">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6"><strong>Simphony Requests</strong></div>
                    <div class="col-md-6 text-right"><a href="{{ url_for('main.simphony_new') }}">New Request</a></div>
                </div>
            </div>
            <div class="panel-body" style="width: fit-content; position: center; margin-left: auto; margin-right: auto">
              <table class="table-hover table-responsive">
                  <thead>
                    <tr>
                        <th style="width: 5%; text-align: center; font-size: medium"></th>
                        <th style="width: 15%; text-align: center; font-size: medium">Request Number</th>
                        <th style="width: 10%; text-align: center; font-size: medium">Initiator</th>
                        <th style="width: 10%; text-align: center; font-size: medium">Initiator Email</th>
                        <th style="width: 10%; text-align: center; font-size: medium">Kit Approved</th>
                        <th style="width: 10%; text-align: center; font-size: medium">FB Approved</th>
                        <th style="width: 10%; text-align: center; font-size: medium">Fin Approved</th>
                        <th style="width: 10%; text-align: center; font-size: medium">GM Approved</th>
                    <tr>
                </thead>
                <tbody>
                    {% for simphony_req in simphony_reqs %}
                    <tr>
                        <td style="text-align: center">
{#                            <a href="{{ url_for('main.simphony_get_request', simphony_req=simphony_req.simphony_req_number) }}">#}
                            <a href="{{ url_for('main.simphony_get_request', simphony_req=simphony_req.simphony_req_number) }}">
                                <input class="btn btn-primary"
                                       style="margin: 5px; alignment: center; font-size: x-small"
                                       type="button" role="button"
                                       value="Details">
                            </a>
                        </td>
                        <td style="text-align: center; font-size: small">{{ simphony_req.simphony_req_number }}</td>
                        <td style="text-align: center; font-size: small">{{ simphony_req.simphony_initiator_dn }}</td>
                        <td style="text-align: center; font-size: small">{{ simphony_req.simphony_initiator_email }}</td>
                        <td style="text-align: center; font-size: small">
                            <label>
                            {% if simphony_req.approver_kit %}
                                <input type="checkbox" name="approver_kit" checked="checked" disabled="disabled" >
                            {% else %}
                                <input type="checkbox" name="approver_kit" disabled="disabled" >
                            {% endif %}
                            </label>
                        </td>
                        <td style="text-align: center; font-size: small">
                            <label>
                            {% if simphony_req.approver_fb %}
                                <input type="checkbox" name="approver_fb" checked="checked" disabled="disabled" >
                            {% else %}
                                <input type="checkbox" name="approver_fb" disabled="disabled" >
                            {% endif %}
                            </label>
                        </td>
                        <td style="text-align: center; font-size: small">
                            <label>
                            {% if simphony_req.approver_acc %}
                                <input type="checkbox" name="approver_acc" checked="checked" disabled="disabled" >
                            {% else %}
                                <input type="checkbox" name="approver_acc" disabled="disabled" >
                            {% endif %}
                            </label>
                        </td>
                        <td style="text-align: center; font-size: small">
                            <label>
                            {% if simphony_req.approver_gm %}
                                <input type="checkbox" name="approver_gm" checked="checked" disabled="disabled" >
                            {% else %}
                                <input type="checkbox" name="approver_gm" disabled="disabled" >
                            {% endif %}
                            </label>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
        </div>
    </div>

    {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

{% endblock %}


