{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

    <div class="user-profile">
      <div class="page-header">
        <h2>Post</h2>
      </div>

      <div class="row">
            {% if posts is defined and posts|length %}
                {% for post in posts %}
                    <div class="row mb-xxl-0" style="background: #e0e0d1; max-height: 250px; min-width: 450px">
                        <div class="col">
                          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                            <div class="col p-4 d-flex flex-column position-static">
                              <strong class="d-inline-block mb-2 text-primary">World</strong>
                              <h3 class="mb-0">Posted by: <strong>{{ post.author.username }}</strong></h3>
                              <div class="mb-1 text-muted">Posted in: <strong>{{ post.timestamp }}</strong></div>
                              <p class="card-text mb-auto">{{ post.description }}</p>
                              <a href="{{ url_for('main.post', post_id=post_id) }}" class="stretched-link">Continue reading...</a>
                            </div>
                            <div class="col-auto d-none d-lg-block">
                              <svg class="bd-placeholder-img" width="400" height="250" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                                  <title>Post Image</title>
                                  <rect width="100%" height="100%" fill="#55595c"/>
                                  <image href="{{ post.image_url }}" height="250" />
                              </svg>
                            </div>
                          </div>
                        </div>
                    </div>

                    <div style="padding: 10px">
                    </div>
{#                <div class="panel panel-info"#}
{#                    style="width: fit-content; position: center; margin-left: auto; margin-right: auto">#}
{#                    <div class="panel-heading">#}
{#                        <div><img src="{{ post.author.avatar(24) }}" alt=""> Post #{{ post.number }}</div>#}
{#                    </div>#}
{#                        <ul class="list-group pre-scrollable" style="max-height: 100px">#}
{#                            <li class="list-group-item">Description: {{ post.description }}</li>#}
{#                            <li class="list-group-item">Post: {{ post.body }}</li>#}
{#                        </ul>#}
{#                </div>#}
                {% endfor %}
            {% else %}
                <div style="text-align: center; width: fit-content; position: center; margin-left: auto; margin-right: auto">
                    <h2>You have no posts published...</h2>
                    <h5>Start by creating a <a href="{{ url_for('blog.new_post', post_uuid=post_uuid) }}"><strong> New Post</strong></a></h5>
                </div>
            {% endif %}
      </div>
    </div>

{% endblock %}