{% set _max = 3 %} {# set _max=3 -> amount of cards in each carousel item #}
{#{% set _loops = (posts_count/_max)|round(0, 'ceil')|int %} {# get how many outer loops are required to populate by items of 3#}

<div class="carousel-item active">
    <div class="container">
      <div class="carousel-caption text-left">
        <h1>Example headline.</h1>
        <p>Some representative placeholder content for the first slide of the carousel.</p>
        <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
      </div>
    </div>
</div>

{# outer loop #}

{% for _loop in range(_loops) %}

    {# set the counter to 0 -> used so that counter does not surpass _max variable #}
    {% set c = 0 %}
    <div class="carousel-item">
        <div class="carousel-caption">
            <div class="album py-5 bg-gradient-dark">
                <div class="container">
                    <div class="row">

                        {# inner loop in reverse order to populate each card until c >= _max #}
                        {% for post in range(recent_posts|count - 1, -1, -1) %}

                            {# get current post info #}
                            {% set current_post = recent_posts[post] %}

                                <div class="col-md-4 ">
                                    <div class="card mb-4 shadow-sm">
                                        <svg class="bd-placeholder-img card-img card-img-top index-card" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" preserveAspectRatio="xMidYMid slice" focusable="false">
                                            <title>{{ current_post.title }}</title>
                                            <rect width="100%" height="100%" fill="#363F47"/>
                                            <image class="" width="100%" height="100%" href="{{current_post.thumbnail}}" style="object-fit:cover"  ></image>
                                        </svg>

                                        <div class="card-body">
                                            <p class="card-text text-dark" style="min-height: 75px">{{ current_post.description}}</p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <form method="POST" name="post_details">
                                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                                    </form>
                                                </div>
                                                {# calculate days diff for all posts #}
                                                {% set date_diff = current_date - current_post.post_date %}
                                                {% set days = date_diff.days %}
                                                {% set hours = date_diff.days * 24 + date_diff.seconds / 3600 %}
                                                {% set minutes = (date_diff.seconds % 3600) / 60 %}
                                                {% set seconds = date_diff.seconds % 60 %}
                                                {% if days|int > 0 %}
                                                    {% if days|int == 1 %}
                                                        <small class="text-muted">{{ days|int }} day ago</small>
                                                    {% else %}
                                                        <small class="text-muted">{{ days|int }} days ago</small>
                                                    {% endif %}
                                                {% elif hours|int > 0 %}
                                                    {% if hours|int == 1 %}
                                                        <small class="text-muted">{{ hours|int }} hour ago</small>
                                                    {% else %}
                                                        <small class="text-muted">{{ hours|int }} hours ago</small>
                                                    {% endif %}
                                                {% elif minutes|int > 0 %}
                                                    {% if minutes|int == 1 %}
                                                        <small class="text-muted">{{ minutes|int }} minute ago</small>
                                                    {% else %}
                                                        <small class="text-muted">{{ minutes|int }} minutes ago</small>
                                                    {% endif %}
                                                {% else %}
                                                    <small class="text-muted">{{ seconds|int }} seconds ago</small>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {# pop the current item #}
                            {% do recent_posts.pop(post) %}

                            {% if loop.index >= _max %}
                                {% break %}
                            {% endif %}
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>

    {# set the counter to 0 when inner loop finishes #}
    {% set c = 0 %}

{% endfor %}
