<div class="container ">
    <a href="{{ url_for('main.index') }}" aria-label="Ferreira Tech Blog">
        <img src="{{ url_for('static', filename="favicon/android-chrome-512x512.png") }}" width="64" height="64" alt="...">
        <h1 class="f2">Ferreira Tech Blog</h1>
    </a>
    <p class="f5">
        Be sure to come by to get <a href="https://www.python.org/" title="Python Official Website">Python</a>,
        <a href="https://www.linuxfoundation.org/" title="Linux Foundation Official Website">Linux</a>,
        <a href="https://flask.palletsprojects.com/en/1.1.x/" title="Flask Official Website">Flask</a>
        tutorials or other useful information.
    </p>
</div>