{%- with messages = get_flashed_messages(with_categories=true) %}
    <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
    {%- if messages %}
        {%- for category, message in messages %}
            <div style="position: absolute; top: 0; right: 0;">
                <div class="toast alert alert-{{ category }}" role="alert" data-delay="3000" aria-live="assertive" aria-atomic="true" style="position: absolute; top: 75px; right: 75px; min-width: 20rem" >
                    <div class="toast-header">
                        <img src="{{ url_for('static', filename='favicon/favicon.ico') }}" class="rounded mr-2" alt="...">
                        <strong class="mr-auto">FerreiraTech.pt</strong>
                        <small>{{ category }}</small>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body alert alert-{{ category }} alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                </div>
            </div>
        {% endfor %}
        <script>
            $('.toast').toast('show');
        </script>
    {% endif %}
{% endwith %}

