{% extends 'admin/model/create.html' %}

{% block body %}
    <section class="s2">
        <div class="main-content">
             <div class="admin-container container-fluid">
               <div class="admin-header text-md-center page-header">
                    <h2 class="card-header">Create {{ admin_view.name }}</h2>
                </div>
                <div class="admin-create-form">
                    <div>
                        {{ super() }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}