{% extends 'admin/model/list.html' %}

{% block body %}
        <section class="s2">
        <div class="main-content">
            <div class="admin-container container-fluid">
               <div class="admin-header text-md-center page-header" >
                    <h2 class="card-header">{{ admin_view.name }} List</h2>
                </div>
                <div class="admin-list-form col-sm-12">
                    <div>
                        {{ super() }}
                    </div>
                </div>
            </div>
        </div>
        </section>
{% endblock %}