<nav class="nav navbar navbar-expand-md" style="background: #363F47">
    <li class="nav-item btn-sm btn-outline-secondary btn-navbar" style="font-size: medium;margin-left: 10px">
        <a class="nav-link text-white" href="{{ url_for('main.index') }}">
            <i class="fas fa-home"></i> Homepage
        </a>
    </li>
    {#                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
    {#                    <span class="navbar-toggler-icon"></span>#}
    {#                </button>#}

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>

    {% block main_menu %}
        {{ _layout.menu() }}
    {% endblock main_menu %}

    {% block menu_links %}
        <nav class="nav navbar-nav navbar-right">
            {% include "admin/models/_navbar_items.html" %}
        </nav>
    {% endblock menu_links %}

    {% block access_control %}
    {% endblock %}
</nav>