{% extends 'base.html' %}

{%- block head_css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/file_uploader.css') }}" />

    <!-- Markdown JS - Flask-SimpleMDE widget -->
    {{ simplemde.css }}
    {{ simplemde.js }}
    {{ super() }}

    <!-- Removed as not being used. But may use in the future... -->
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">#}
{#    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>#}
{#    {{ dropzone.load_css() }}#}
{#    {{ dropzone.style('border: 3px dashed #0087F7; min-height: 800px; width: 100%') }}#}

{% endblock head_css %}

{%- block head_tail %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/file_uploader.js') }}"></script>
{% endblock head_tail %}

{%- block body %}

    <section class="s2">
        <div class="main-content">

            <!-- Form Name -->
            <div class="" style="">
                <div class="new-post-header text-md-center page-header">
                    <h2>Blog Editor</h2>
                    <hr>
                </div>

                <div id="" class="new-post-form" >
                    <div class="form-group">

                        <form class="form-group-sm form-horizontal"
                              method="POST"
                              enctype="multipart/form-data"
                              name="blog_edit">

                            {{ form.hidden_tag() }}
                            {{ form.csrf_token() }}

                            <!-- Title input-->
                            <div class="form-group">
                                <label class="control-label col-md-offset-2 control-label input-md" for="title">
                                    Title:
                                </label>
                                <div class="input-group " style="margin-top: 10px; margin-bottom: 10px">
                                    {{form.title(placeholder="Title", class="form-control post_title")}}
                                </div>
                            </div>

                            <!-- Description input-->
                            <div class="form-group">
                                <label class="control-label col-md-offset-2  control-label input-md" for="title">
                                    Description:
                                </label>
                                <div class="input-group" style="margin-top: 10px; margin-bottom: 10px">
                                    {{form.description(placeholder="Description", class="form-control post_description")}}
                                </div>
                            </div>

                            <!-- Markdown TextArea input-->
                            <div class="form-group">
                                <label class="col-md-offset-2 control-label" for="tags" style="margin-top: 10px; margin-bottom: 10px">
                                    Post Editor (Markdown):
                                </label>
                                <div>
                                    {{form.body(placeholder="Blog Markdown Text", rows="45", columns="15", class="post_body")}}
                                    {{ simplemde.load_id("body") }}
                                </div>
                            </div>

                            <!-- Tags input-->
                            <div class="form-group">
                                <label class="col-md-offset-2 control-label" for="tags" style="margin-top: 10px; margin-bottom: 10px">
                                    Tags:
                                </label>
                                <div class="input-group">
                                    {{form.tags(id="tags", placeholder="Comma separated tags", class="form-control post_tags", data_provide="markdown")}}
                                </div>
                            </div>

                            <!-- File Uploader -->
                            <label class="col-md-offset-2 control-label" for="tags" style="margin-top: 10px; margin-bottom: 10px">
                                Images uploaded:
                            </label>
                            <div class="card container-upload">
                                <div class="card-body">
                                    <div class="form-group">
                                        <div id="image-div">
                                            {% if files_dict or files_dict|length %}
                                                {% for idx, file in files_dict.items() %}
                                                    <span tabindex="0" class="image-toggle" data-bs-toggle="popover">
                                                        <img class="image-uploaded" id="image-{{ idx }}" src="/static/fileuploads/{{ post_uuid }}/{{ file }}" alt="..." width="64">
                                                    </span>
                                                {% endfor %}
                                            {% else %}
                                                <span class="span text-md-center">
                                                    <img src="{{ url_for('static', filename='images/forms/minions_no.png') }}" alt="<--  -->" id="img" width="64">
                                                    <label><h5>Ahm...where is my <strong>BA-NA-NA</strong>...?!</h5></label>
                                                </span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Upload Buttons  -->
                            <div class="form-group">
                                <div class="new-post-buttons col-md-offset-2">
                                    {{ form.image(class="btn-upload btn btn-sm btn-dark", multiple="multiple") }}
                                    {{ form.upload(class="btn-upload btn btn-dark btn") }}
                                </div>
                            </div>

                            <!-- Buttons  -->
                            <div class="form-group">
                                <div class="new-post-buttons col-md-offset-2">
                                    <button type="button" class="btn btn-lg btn-success" data-toggle="modal" data-target="#savepostModal">Save Post</button>
                                    <button type="button" class="btn btn-lg btn-danger" data-toggle="modal" data-target="#disposepostModal">Dispose Post</button>
                                </div>
                            </div>

                            <!-- Modal Save Post Dialog -->
                            <div class="modal fade" id="savepostModal" tabindex="-1" role="dialog" aria-labelledby="savepostModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="savepostModalLabel">Save Post</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to save this Post?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            {{ form.submit(class="btn btn-primary") }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Modal Dispose Post Dialog -->
                            <div class="modal fade" id="disposepostModal" tabindex="-1" role="dialog" aria-labelledby="disposepostModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="disposepostModalLabel">Save Post</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                          Are you sure you want to dispose this Post?
                                          <strong>All data will be lost if you <cite>'Dispose Post'</cite></strong>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            {{ form.cancel(class="btn btn-primary") }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <div style="padding-bottom: 20px"></div>

{#    <div id="rightcontent" class="form-group">#}
{#        <!-- Dropzone area -->#}
{#        <div class="input-group ">#}
{#            <div>#}
{#                {% if config.BLOGGING_ALLOW_FILEUPLOAD %}#}
{#                    {{ dropzone.create(action='blog.upload') }}#}
{#                    {{ dropzone.config(custom_options='autoProcessQueue: true, addRemoveLinks: true, maxFiles: 4') }}#}
{#                {% endif %}#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock body %}

{% block tail_js %}
    <script src="{{ url_for('static', filename='js/file_uploader.js') }}"></script>
{% endblock %}
