{#{% extends 'admin/base.html' %}#}
{% extends 'base.html' %}
{% import 'admin/macros/_layout.html' as _layout with context %}

{%- block title %}
    {% include "main/models/_title.html" %} Admin
{% endblock title -%}

{%- block head_meta %}
    {% include "main/models/_meta.html" %}
{% endblock head_meta -%}

{%- block head_css %}
    {{ super() }}
    {%- include "admin/models/_head_css.html" -%}
{% endblock head_css -%}

{%- block head %}
    {{ super() }}
{% endblock head -%}

{%- block head_tail %}
    {%- include "main/models/_head_tail.html" %}
{% endblock head_tail -%}

{%- block page_body %}

    {%- include "admin/models/_navbar.html" %}

    {%- block messages %}
{#        {{ _layout.messages() }}#}
        {{ super() }}
    {% endblock messages %}

    {%- block body %}
    {% endblock body %}

{% endblock page_body -%}

