{% extends 'admin/base_admin.html' %}

{% block body %}

    <section class="s2">
        <div class="main-content">
            <div class="container container-fluid" style="font-family: 'Ubuntu', Tahoma, sans-serif; margin-top: 25px">
                <div class="jumbotron">
                    <h1>Hello!</h1>
                    <p class="lead">This is just a paragraph</p>
                    <hr>
                    <p>Another paragraph</p>
                    <a class="btn-primary btn-lg" href="#" role="button">More!</a>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

