{% macro menu_icon(item) -%}
  {% set icon_type = item.get_icon_type() %}
  {%- if icon_type %}
    {% set icon_value = item.get_icon_value() %}
    {% if icon_type == 'glyph' %}
      <i class="glyphicon {{ icon_value }}"></i>
    {% elif icon_type == 'fa' %}
      <i class="fa {{ icon_value }}"></i>
    {% elif icon_type == 'image' %}
      <img src="{{ url_for('static', filename=icon_value) }}" alt="menu image">
    {% elif icon_type == 'image-url' %}
      <img src="{{ icon_value }}" alt="menu image">
    {% endif %}
  {% endif %}
{%- endmacro %}