{% import "bootstrap/fixes.html" as fixes %}

<!DOCTYPE html>
<html lang="en">
    <head lang="en">
        <!-- Head -->
        <title>
            {%- block title %}
                {% include "main/models/_title.html" %}
            {% endblock title -%}
        </title>

        {%- block head_meta %}
            {% include "main/models/_meta.html" %}
        {% endblock head_meta %}

        {%- block head_css %}
            {% include "main/models/_head_css.html" %}
        {% endblock head_css %}

        {% block head %}
            {{ fixes.ie8() }}
        {% endblock %}

        {% block head_tail %}
            {% include "main/models/_head_tail.html" %}
        {% endblock head_tail %}

    </head>

    <body>
    <!-- Body -->
    {%- block page_body %}
        <section class="s1">
            <!-- Navbar -->
            {% include "main/models/_navbar.html" %}
        </section>

        {%- block brand %}
        {% endblock brand %}

        {% block main_menu %}
        {% endblock main_menu %}

        {% block menu_links %}
        {% endblock menu_links %}

        {% block messages %}
            <!-- Messages -->
            {% include "main/models/_messages.html" %}
        {% endblock %}

        {% block body %}
            <!-- Content -->
        {% endblock %}

    {% endblock page_body %}

    {%- block tail_js %}
    {% endblock tail_js %}

    {% block tail %}
        <!-- Footer -->
        {% include "main/models/_footer.html" %}
    {% endblock %}

    </body>
</html>
